<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
      <nav style="background: #333; padding: 1em; border-radius: 8px;display: flex; flex-direction: row; justify-content: center; align-items: center;">
         <a href="/" style="color: #fff; text-decoration: none; margin-right: 20px; font-weight: bold; transition: color 0.2s;">home</a>
         <a href="/register" style="color: #fff; text-decoration: none; margin-right: 20px; font-weight: bold; transition: color 0.2s;">register</a>
         <a href="/login" style="color: #fff; text-decoration: none; margin-right: 20px; font-weight: bold; transition: color 0.2s;">login</a>
         <a href="/profile" style="color: #fff; text-decoration: none; margin-right: 20px; font-weight: bold; transition: color 0.2s;">profile</a>
         <a href="/logout" style="color: #fff; text-decoration: none; font-weight: bold; transition: color 0.2s;">logout</a> 
      </nav>
   </header>
</body>
</html>