<%-include("layout/header")%>

    <main>
        <h1>register page</h1>
        <form action="/register" method="post">
            <div>
              <label for="username">Username: </label>
              <input type="text" id="username" name="username" />
            </div>
            <br>
            <div>
              <label for="pass">Pass: </label>
              <input type="pass" id="pass" name="pass" />
            </div>
            <br>
            <div>
              <button type="submit">Register</button>
            </div>
          </form>
          
    </main>

<%-include("layout/footer")%>